MONGO_URI=

PORT = 3000

ADMIN_NAME=admin
ADMIN_PASSWORD=
ADMIN_EMAIL=admin@gmail.com
ADMIN_CONTACT=

JWT_SECRET_KEY=
JWT_EXPIRES_IN=15m

JWT_REFRESH_SECRET_KEY=
JWT_REFRESH_EXPIRES_IN=7d

NODE_ENV=development